# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Replay Emulator.iml
# Datasource local storage ignored files
/../../../../../../:\Dev\Advanced Performance Calculator\.idea\.idea.Replay Emulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
